{% extends './layout.html' %}

{% block title %} PENSIONES UDC 2023 {% endblock %}

{% block opciones %}
    <!-- Heading -->
    <div class="sidebar-heading">
      Opciones
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Pensiones</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pensiones opciones:</h6>
                <a class="collapse-item" href="{{ url_for('pensions_user', user_id=current_user.id) }}">Mis Pensiones</a>
                <a class="collapse-item" href="cards.html">Ajustes</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Ajustes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ajustes de usuario:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>
{% endblock %}

{% block userInformation %}
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{current_user.name}}</span>
            <img class="img-profile rounded-circle"
                src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
            </a>
            <a class="dropdown-item" href="{{ url_for('update_user', user_id=current_user.id) }}">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{  url_for('logout')  }}" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
        </div>
    </li>
{% endblock %}

{% block namepage %} Mis Pensiones {% endblock %}

{% block drop_option %}
    <a href="{{ url_for('create_pension', user_id=current_user.id) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> 
        Añadir Pension
    </a>
{% endblock %}

{% block body %}

    {% block cards %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br/>
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <br/>
        <div class="d-flex flex-wrap justify-content-around">
          {% for card in cards: %}
                <div class="card mb-4" style="width: 18rem;">
                    <img src="{{card.photo}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="..." role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <div class="card-body">
                        <p class="card-text">{{card.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="bg-succes btn btn-sm btn-outline-secondary">Update</button>
                                <button type="button" class="bg-danger btn btn-sm btn-outline-secondary">Delete</button>
                            </div>
                            <small class="text-body-secondary">
                                {% if card.availability %}
                                    <span class="bg-success rounded-circle d-inline-block" style="width: 10px; height: 10px;" data-bs-toggle="tooltip" title="Disponible"></span>
                                {% else %}
                                    <span class="bg-danger rounded-circle d-inline-block" style="width: 10px; height: 10px;" data-bs-toggle="tooltip" title="No disponible"></span>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
          {% endfor %}
      </div>
    {% endblock %}

{% endblock %}

{% block logoutmodal %}
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}